<content-type name="/page/post" is-wcm-type="true">
	<label>Page: Blog Post</label>
	<form>/page/post</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>true</content-as-folder>
	<previewable>true</previewable>
	<quickCreate>true</quickCreate>
	<quickCreatePath>/site/website/posts/</quickCreatePath>
	<noThumbnail>true</noThumbnail>
	<image-thumbnail></image-thumbnail>
	<paths>
		<includes>
			<pattern>^/site/website/posts/.*</pattern>
		</includes>
	</paths>
</content-type>
